# Dependencies
/vendor
/node_modules
composer.phar
composer.lock

# IDE
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Testing
.phpunit.result.cache
.phpunit.cache
coverage/

# Tools
.php_cs.cache
.php-cs-fixer.cache

# Workbench (for local development only)
/workbench

# Build artifacts
/build
*.log